
<div *ngIf="!alleVinnerAktiv" class="flex">
  <div>
    <h1>{{title1}} </h1>
    <img src="../../../assets/alvene/ukjent.jpg" height="600px">
  </div>
  <div>
    <h1>{{title2}}</h1>
    <img src="../../../assets/alvene/ukjent.jpg" height="600px">
  </div>
</div>
<div *ngIf="alleVinnerAktiv" class="flex">
  <div>
    <div>
      <h1>{{title1}} </h1>
      <img src="../../../assets/alvene/goril.png" height="600px">
    </div>
    <div>
      <h1>{{title2}}</h1>
      <img src="../../../assets/alvene/christina.png" height="600px">
    </div>
    <div>
      <h1>{{title2}}</h1>
      <img src="../../../assets/alvene/eirik.png" height="600px">
    </div>
    <div>
      <h1>{{title2}}</h1>
      <img src="../../../assets/alvene/anette.png" height="600px">
    </div>
  </div>
  <div>
    <div>
      <h1>{{title1}} </h1>
      <img src="../../../assets/alvene/bjarte.png" height="600px">
    </div>
    <div>
      <h1>{{title2}}</h1>
      <img src="../../../assets/alvene/anne-katrine.png" height="600px">
    </div>
    <div>
      <h1>{{title2}}</h1>
      <img src="../../../assets/alvene/arne.png" height="600px">
    </div>
    <div>
      <h1>{{title2}}</h1>
      <img src="../../../assets/alvene/oystein.png" height="600px">
    </div>
  </div>
  <div>
    <div>
      <h1>{{title1}} </h1>
      <img src="../../../assets/alvene/audun.png" height="600px">
    </div>
    <div>
      <h1>{{title2}}</h1>
      <img src="../../../assets/alvene/robin.png" height="600px">
    </div>
    <div>
      <h1>{{title2}}</h1>
      <img src="../../../assets/alvene/danay.png" height="600px">
    </div>
    <div>
      <h1>{{title2}}</h1>
      <img src="../../../assets/alvene/daniel.png" height="600px">
    </div>
  </div>
</div>
<div>
  <input #passord type="password">
</div>
<div (click)="trekkVinner(passord.value)" style="text-align:center">
  <fa-icon [icon]="faGift" size="6x" style="color: red"></fa-icon>
</div>
<audio #drumroll>
  <source src="../../../assets/lyd/drum.WAV" type="	audio/wav">
</audio>